<div class="row mb-3">
    {{#each docs}}
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-success">
            <div class="card-block bg-success">
                <div class="rotate">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <h2 class="text-uppercase"><a class="branch" href="/status_check/{{this._id}}/{{this.branch}}/{{this.semester}}">{{this.name}}</a></h2>
                <h6 class="branch">{{this.branch}}</h6>
                <h6>{{this.semester}} Semester</h6>
            </div>
        </div>
    </div>
    {{/each}}
</div>